/*|---------------| COLORS |---------------*/
$yellow: #FFE600;
$dark-gray: #333333;
$middle-dark-gray: #666666;
$middle-ligth-gray: #999999;
$ligth-gray: #EEEEEE;
$white: #FFFFFF;
$blue: #3483FA;

/*|---------------| FONT |---------------*/
$font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;


/*|---------------| BREAKPOINTS |---------------*/
// Small
$screen-sm-max: 576px;
// Medium
$screen-md-max: 768px;
// Large
$screen-lg-max: 992px;
// Large
$screen-xl-max: 1200px;

/*|---------------| BORDER |---------------*/

$border-radius: 4px;