* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: auto;
    min-height: 100vh;
    width: 100%;

    // font: 100% = 16px
    font-size: 100%;

    @include lg {
        font-size: 75%;
    }

}

body {
    font-family: $font-family;
    background: $ligth-gray;
    display: flex;
    flex-direction: column;
}